body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #cad2c5;
  letter-spacing: 2px;
}
.headerClass {
  min-height: 75px;
  text-align: center;
  background-color: #2f3d46;
  font-size: 18px;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%; 
}
img {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 20px !important;
  margin-left: 15px;
  border-radius: 60px;
}
.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 0;
}

.container1 {
  background-color: #353535;
  height: 400px;
  width: calc(100% - 80vw);
  margin: 40px;
  border-radius: 15px;
}
.container2 {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 45vw);
  height: 400px;
  margin: 40px;
}

.one {
  justify-items: center;
  background-color: #353535;
  border-radius: 8px;
  height: 30px;
  width: calc(100% - 20vw);
  color: #8e8e8e;
}
.spanclass {
  margin: 10px;
}
.two {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 1vw);
}

.twoclass {
  height: 120px;
  background-color: #353535;
  margin: 35px;
  width: calc(100% - 1vw);
  border-radius: 15px;
}
.three {
  background-color: #353535;
  padding-top: 20px;
  height: 130px;
  width: calc(100% - 6vw);
  border-radius: 15px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  .container1 {
    background-color: #353535;
    height: 400px;
    width: calc(100% - 45vw);
    margin: 40px 40px;
    border-radius: 12px;
  }
  .container2 {
    width: calc(100% - 30vw);
    height: 400px;
    margin: 40px 40px;
    border-radius: 12px;
  }
  .one {
    padding: 10px;
    width: calc(100% - 85px);
  }
  .two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 40px);
  }
  .twoclass {
    height: 100px;
    background-color: #353535;
    margin: 10px; 
    width: calc(100% - 25px); 
    border-radius: 10px;
  }
  .three {
    background-color: #353535;
    width: calc(100% - 122px);
    border-radius: 10px;
    padding: 30px;
  }
}
